.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
scratch/**
!scratch/README.md
**/explorations/**
**/!explorations/README.md
.vscode
fixtures/

# Databricks bundle generated dirs
artifacts/
state/